# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build


# misc
.DS_Store
.env.local
CodAffEmployeeRegisterAPI/.vs/CodAffEmployeeRegisterAPI/FileContentIndex/12b0ed86-151e-4d5a-b3f0-41aec038354a.vsidx
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
